- @page_title = "UserAuth | Signup"
.Sign_Form
  .row
    %h1.center Inscription
    =form_for(:user, :html => {:class => "col s12 m6 offset-m3"}, :url => {:controller =>'users', :action =>'create'}) do |f|
      .row
        .input-field.col.s12
          = f.label :username, "Pseudo"
          = f.text_field :username
        .input-field.col.s12
          = f.label :email
          = f.text_field :email
        .input-field.col.s12
          = f.label :paswword, "Mot de passe"
          = f.password_field :password
        .input-field.col.s12
          = f.label :password_confirmation, "Confirmation du mot de passe"
          = f.password_field :password_confirmation
        = f.submit "S'inscire", :class => "btn"
    - if @user.errors.any?
      .col.s4
        %ul.Signup_Errors
          -  @user.errors.full_messages.each do |message_error|
            %li
              = message_error

